@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
    outline: none;
}
@layer utilities {
    .overflow-hidden-scrollbar::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
    }
  
    .overflow-hidden-scrollbar {
      -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
      scrollbar-width: none; /* Hide scrollbar for Firefox */
    }
  }